<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Is admin?</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.is_admin? %></td>
        <td>
        <% if user.is_admin?  %>
          <%= link_to 'Revoke admin', "/users/revoke_admin/#{user.id}" %>
        <% else %>
          <%= link_to 'Make admin', "/users/make_admin/#{user.id}" %>
        <% end %>
        <%= link_to 'Delete', user, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        <%= link_to 'Vote report', :controller => :users, :action => :votes, :id => user %>
        </td>
      </tr>
  <% end %>
</table>
