<h2>Search by Category</h2>
<%= form_tag '/search_by_category', :action => 'search_by_category', :method => :get do %>
    <%= collection_select :search, :category_id, Category.all, :id, :name %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<h2>Search by User</h2>
<%= form_tag '/search_by_user', :action => 'search_by_user', :method => :get do %>
    <%= text_field :search, :search %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<h2>Search by Content</h2>
<%= form_tag '/search_by_content', :action => 'search_by_content', :method => :get do %>
    <%= text_field :search, :search %>
    <%= submit_tag "Search", :name => nil %>
<% end %>