<h2>Search by Category</h2>
<form action="<%= '/search_by_category' %>" method = "get">
    <%= collection_select :search, :category_id, Category.all, :id, :name %>
    <%= submit_tag "Search", :name => nil %>
</form>
<h2>Search by User</h2>
<form action= "<%= '/search_by_user'%>" method = "get">
    <%= text_field :search, :search %>
    <%= submit_tag "Search", :name => nil %>
</form>
<h2>Search by Content</h2>
<form action = "<%= '/search_by_content'%>" method = "get">
    <%= text_field :search, :search %>
    <%= submit_tag "Search", :name => nil %>
</form>