<!DOCTYPE html>
<html>
<head>
  <title>RubySource User Auth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="Main_Header">
  <h1>Backchannel App</h1>
  <%unless session[:user_id]%>
      <%= link_to :Signup , :signup, :class => "nav_links"%>
      <%= link_to :Login , :login, :class => "nav_links"%>
  <%else%>
      <%= link_to :Home , :home, :class => "nav_links" %>
      <%= link_to :Logout , :logout, :class => "nav_links" %>
      <%= link_to :Search, :search, :class => "nav_links" %>
      <br/>
      <%= link_to :Posts, :posts, :class => "nav_links" %>
      <%if @current_user.is_admin?%>
        <%= link_to :Categories, :categories, :class => "nav_links" %>
        <%= link_to :Users, :users, :class => "nav_links" %>
      <%end%>
  <%end%>
</div>
<% if flash[:color]== "valid" %>
    <div class="valid_notice">
      <p><%= flash[:notice]%></p>
    </div>
<% elsif flash[:color]== "invalid"%>
    <div class="invalid_notice">
      <p><%=flash[:notice]%></p>
    </div>
<%else%>
    <div class="notice">
      <p><%=flash[:notice]%></p>
    </div>
<%end%>
<%= yield %>

</body>
</html>